---
import Container from "@/components/primitives/Container.astro";

const {} = Astro.props;
---

<section id="hero" class="relative">
	<Container tag="div" class="mx-0 h-96" />
</section>

<script>
	import gsap from "gsap";
</script>
