---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<a href="/">Navigate to index</a>

	<div>This page have only a script with an import</div>
</BaseLayout>

<script>
	import gsap from "gsap";
</script>
