---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<ViewTransitions />
	</head>
	<body>
		<h1>Astro astro view transition performance test</h1>

		<slot />

		<script>
			var timing: number = performance.now();
			var timingLoad: number = performance.now();

			document.addEventListener(
				"astro:before-preparation",
				(ev) => {
					timing = performance.now();
					timingLoad = performance.now();
				},
				{ once: false },
			);

			document.addEventListener(
				"astro:after-swap",
				(ev) => {
					timing = performance.now() - timing;
					console.log(`Page swapped in ${timing}ms`);
				},
				{ once: false },
			);

			document.addEventListener(
				"astro:page-load",
				(ev) => {
					timingLoad = performance.now() - timingLoad;
					console.log(`Page loaded in ${timingLoad}ms`);
				},
				{ once: false },
			);
		</script>
	</body>
</html>
