---
import { ViewTransitions } from "astro:transitions";
import Head from "@/components/Head.astro";
import Footer from "@/components/footers/Footer.astro";
import Navigation from "@/components/headers/Navigation.astro";
---

<html>
	<Head>
		<ViewTransitions />
	</Head>
	<body>
		<Navigation showTopBar />
		<slot />
		<Footer />
	</body>
</html>
